/* Criação de fontes */
@font-face {
    font-family: 'Gafata';
    src: url('Fontes/Gafata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlaywriteHU';
    src: url('Fontes/PlaywriteHU-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Corpo do site */
body {
  background-color: #DCEE90;
}

/* Centralização de textos */
.center {
    text-align: center;
}

/* Estilo relacionado ao menu de cabeçalho */
.menu {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove o margin padrão */
    display: inline; /* Faz os itens da lista ficarem na horizontal */
    gap: 10px; /* Adiciona espaço entre os itens */
}

.menu ul {
    border-bottom: 0.1em solid #CBDD7E; 
    padding-top: 0.2em;
    padding-bottom: 1em;
}

.menu li {
    font-family: "Gafata", arial;
    display: inline; /* Faz os itens da lista ficarem na horizontal */
    margin-right: 10px; /* Adiciona espaço entre os itens */
    font-size: 2em;
    color: #0F1203;
    transition: text-shadow 0.3s ease; /* Transição para a sombra */
}
.menu li:hover {
    text-shadow: 0em 0.1em 0.2em #4D5C0A; /* Sombra ao passar o mouse */
}

nav {
    position: static;
}


h1 {
    font-family: 'PlaywriteHU', arial;
    font-size: 5em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  height: 50px; /* Ajuste a altura conforme necessário */
  background-color: #f1f1f1; /* Cor de fundo do footer */
  width: 100%;
  position: fixed;
  bottom: 0;
}

