body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Sofia", Arial, sans-serif;
    font-size: 4.5em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: block;
    margin: 0 15px;
}

nav.menu {
    border-top: 0.1em solid #2567ba;
    border-bottom: 0.3em solid #2567ba;
    border-right: 0.3em solid #2567ba;
    width: 12em;
}

li.menu{
    font-family: "Sofia", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    font-style: normal;
    color: #000010;
    text-shadow: 0 1px 1px #000020;
    list-style-type: none;
    padding: 0;
    gap: 10px; /* Espaço entre os itens da lista */
    transition: 1s;
}
li.menu:hover{
    transition: 1s;
    text-shadow: 5px 5px 10px #2567ba;
}

.produtos {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: absolute;
    width: 100%;
    bottom: 0;
}
