<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Loja de Roupas{% endblock %}</title>
</head>
<body>
    <header>
        <h1 class="center">Plus Clothes</h1>
        <nav class="menu">
            <ul class="center">
                {% if categorias %}
                    {% for categoria in categorias %}
                        <li class="menu">
                            {{ categoria[1] }}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Plus Clothes</p>
    </footer>
</body>
</html>
